/* 字体库 */
@font-face {
	font-family: "IMPACT";
	src: url("~@/static/fonts/impact-font/IMPACT.eot");
	/* IE9 */
	src: url("~@/static/fonts/impact-font/IMPACT.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */

		url("~@/static/fonts/impact-font/IMPACT.woff") format("woff"),
		/* chrome、firefox */
		url("~@/static/fonts/impact-font/IMPACT.ttf") format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

		url("~@/static/fonts/impact-font/IMPACT.svg#IMPACT") format("svg");
	/* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}

.IMPACT-FONT {
	font-family: "IMPACT" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
